<div class="col-lg-3 col-md-4" >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet faucibus justo eu fermentum. Fusce accumsan nulla nec turpis tempus, eget suscipit tellus finibus. Aliquam erat volutpat. In pretium metus blandit, posuere nisi et, consectetur nulla. Nullam fermentum convallis orci. Donec ac tincidunt orci. Sed vel orci nec nisi porttitor laoreet eu in metus. Sed elementum sed nunc vitae semper. Aliquam ac nunc nec velit accumsan suscipit nec in velit. Vestibulum aliquam eros justo, imperdiet bibendum dui posuere ac. Praesent viverra ipsum felis, vitae malesuada nibh tincidunt non. Ut vel tortor fringilla, consequat tortor a, dictum ante.</p>
      
    </div>